/*STYLESHEET FOR program1.html BEGINNING*/
.title {
    text-align:center;
}

body.program1 {
    text-align:center;
    background-image:url("bg3.jpg");
    background-repeat:repeat;
    background-attachment:fixed;
    box-sizing:border-box;
    width:70%;
    margin:auto;
    padding-top:0px;
    padding-bottom: 20px;
  
}

.box{
    border: none;
    background-color: #ebfffa;
    border-width: 50px;
    padding-top:10px;
    padding-bottom:initial;
    
}

.menu {
    list-style-type:none;
    padding:20px;
    overflow:hidden;
    background-color: #E3E6E9;
    font-size: 18px;
    font-family: Calibri;
}

.menu > li {
    display: inline-block;
    
}

.menu > li > a {
    text-decoration:none;
    margin-left:40px;


}


li a:hover {
    color: lightcyan;
}

li a{
    color: #000000;
    display:block;
}

.bold {
    font-weight:bold;
    font-size: 24px;
    text-decoration: underline;
}

.link {
    color: lightblue;
}

.french {
    font-weight:bold;
    color:burlywood
}

.ingredients {
    text-align: left;
    display:inline-block;
    float:left;
    margin-left:20px;
   
}

.recipe {
    text-align:left;
    display:inline-block;
}

.small {
    margin-left:30px;
    margin-right:30px;
    
}

.ir {
    text-decoration:underline;
    font-size: 20px;
}

.toast {
    width:25%;
    height:25%;
    float:left;
    margin-left:180px;
}

.lunch {
    text-align:center;
}

.budae {
    width: 350px;
    height:250px;
    float:left;
    margin-left: 80px;
}
/*STYLESHEET FOR program1.html END*/

/*STYLESHEET FOR recipe.html BEGINNING*/
.recipeclass {
    width:1024px;
    font-size:14px;
    background-color:#FFCC00;
    font-family:Georgia,Garamond,serif;
}

.recipeclass h1, .recipeclass h2 {
    background-color: #F0F0F0;
    background-width:1024px;
    color: #A4A400;
    font-family:'Century Gothic', Futura, Verdana, sans-serif;
    text-align: center;
}

.recipeclass h3 {
    background-color: #F0F0F0;
    background-width:1024px;
    color: #A4A400;
    font-family:'Century Gothic', Futura, Verdana, sans-serif;
    text-align:left;
}

.button {
    box-sizing: border-box;
    border-right: 15px solid #003366;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size:12px;
    background: #FFFF99;
    color: #003366;
    height:20px;
    width:70px;
    float: left;
    margin-right:5px;
    
}

.recipeclass p{
    text-align: left;
}

.food-pic {
     float: left;
}

.container {
    width: 100%;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.sub {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
}

.recipeclass li {
    text-align: left;
}

.serves {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

table {
    border: 2px;
    background-color: #CC9933;
    border-width: 2px;
    border-color: #F0F0F0;
    color: #FFFFFF;
    margin-top: 20px;
    border-style: solid;
}

caption {
    font-weight:bold;
    border:hidden;
    padding:initial;
    background-color:#f0f0f0;
    color: #a4a400;
}

#b {
    color:#FFFFFF;
}

#b td:first-child{
    background: #003366;
    text-align:center;
}

.head {
    background-color:#003366;
    color:#FFFFFF;
    width:auto;
    text-align:center;
    font-weight: bold;
    border: 2px;
    border-style:solid;
    padding:5px, 5px, 5px, 5px;
    border-color:#FFFFFF;
 
}

th {
    background-color: #003366;
    text-align:center;
    border: 2px solid;
    border-color: #FFFFFF;
    padding:5px;
    color: #FFFFFF;
   
}


td {
   text-align:left;
    border: 2px solid;
    border-color: white;
    padding:5px;
}

/*STYLESHEET FOR recipe.html END*/

/*STYLESHEET FOR dessert.html BEGINNING*/
.dessert {
    text-align:center;
    background-image:url("dessertb1.jpg");
    background-repeat:repeat;
    background-attachment:fixed;
    box-sizing:border-box;
    width:60%;
    margin:auto;
    padding-top:0px;
    padding-bottom: 20px;
  
}

.box1{
    border: none;
    background-color: #ebfffa;
    border-width: 30px;
    padding-top:10px;
    padding-bottom:initial;
    position:relative;
    
    
}

.head1{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    letter-spacing: 5px;
    text-decoration:underline;
    text-align:center;
    font-size: 50px;
}

.dessertimg {
    border-radius: 50%;
    width: 40%;
    height:40%;
    float:right;
    margin:10px;
    margin-right:40px;
    margin-top:80px;
}

.d1 {
   margin:20px;
}

.head {
    margin: 30px;
}

.d3 > li {
    text-align:left;
    
}

.d4 > li {
    text-align:left;
}

.line{
    height:1px;
    border-bottom:1px dashed #003366;
    margin-left:12px;
    margin-right:12px;

}

.box1 > h3 {
    font-style:italic;
    text-align:center;
}

.pie {
    border-radius: 75%;
    width: 30%;
    height: 40%;
    float:left;
    margin-left: 40px;

}

.box1 > h4 {
    font-size: 24px;
    line-height: 3px;
}

.left {
    text-align:center;
    line-height: 2em;
    margin-left:10px;
}

.bold1 {
    text-align:center;
    text-decoration:underline;
    font-size: 24px;
    font-weight:bold;
  
}

.pie1 {
    margin-left: 100px;
    text-align:left;

}

.pie2 {
    text-align:left;


}

.piepie {
    overflow:hidden;
}

.mama {
    font-size: 24px;
    font-weight:bold;
}
/*STYLESHEET FOR dessert.html END*/